*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

.container{
    width: 28vw;
    background-color: green;
    margin-top: 10%;
    margin: 2rem auto;
    border-radius: 5px;
}

.container form{
    text-align: center;
}

form input{
    width: 100%;
}

p{
    margin: 10px 0;
}

h1{
    color: white;
    text-align: center;
}

button{
    background-color: yellow;
    color: blue;
}

@media screen and (width <= 700px) {
    .container{
        width: 12rem;
    }
    
}
@media screen and (width <= 320px) {
    .container{
        width: 10rem;
    }
    
}