*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    background-color: antiquewhite;
}

.container{
    width: 30vw;
    height: auto;
    background-color: green;
    margin-top: 10%;
    margin: 2rem 0 0 40%;
    border-radius: 5px;
}

.container form{
    text-align: center;
    margin-top: 0px;
}
p{
    margin: 10px 0 10px 0;
}

h1{
    color: white;
}

button{
    background-color: yellow;
    color: blue;
}

@media screen and (max-width: 599px) {
    .container{
        min-width: 12rem;
    }
    
}